.heading {
  font-size: large;
  margin-top: 3em;
  padding: 1em 0;
}
.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin-bottom: 3em;
}

.brandIcon {
  max-width: 100px;
  border: var(--debug)
}
