.card {
  width: 100%;
  margin: 0 0.25em;
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  img {
    max-height: 200px;
  }

  h4 {
    padding: 0.5em 1em;
    color: var(--gray400);
  }

  p {
    padding: 0.25em 0.5em;
    margin-top: 0;
    font-size: 0.95em;
    color: var(--gray100);
  }
  img {
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.benefitsRow {
  margin: 0 auto;
  margin-top: 6em;
  margin-bottom: 2em;
  max-width: var(--breakpoint-xl);
}
