.benefit {
  width: 100%;
  padding: 0 2em;
}

.benefit.alternate {
  flex-direction: row-reverse;
}

@media (max-width: 720px) {
  .benefit,
  .benefit.alternate {
    flex-direction: column;
  }
}

.content h3 {
  margin: 2em 0;
}

.content p {
  margin: 2em 0;
}

.markdown {
  padding: 1em 1em;
  list-style-type: none;
  list-style-image: url("/check.png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.85em;
  line-height: 3;
}


@media (max-width: 720px) {
  .markdown {
    font-size: 1.2em;
  }
}
