.benefit {
  width: 100%;
  padding: 0 2em;
  &.alternate {
    flex-direction: row-reverse;
    @media (max-width: 720px) {
      flex-direction: column;
    }
  }
  @media (max-width: 720px) {
    flex-direction: column;
  }
  &img {
    border: 1px solid red;
  }
}

.markdown {
  padding: 1em 1em;
  list-style-type: none;
  list-style-image: url("/check.png");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.85em;
  line-height: 3;
}
