.benefit {
  padding: 0 2em;
  width: 90%;
  margin: 0 auto;
  @media (max-width: 720px) {
    flex-direction: column;
    text-align: center;

  }
  &img {
    position: relative;
    display: block;
    width: 100%;
    // padding: 4em;
    margin: 0 auto;
    border: 1px solid red;
  }
}

.benefit.alternate {
  flex-direction: row-reverse;
  border-radius: 25px;
  @media (max-width: 720px) {
    flex-direction: column;
    text-align: center;
  }
}

.contentHolder {
  width: 100%;
  margin: 0 auto;
  h3 {
    line-height: 1.4;
  }
  p {
    line-height: 1.6;
  }
}
