.header {
  position: relative;
  width: 100%;
  max-width: var(--mw);
  height: 80px;
  margin: 0 auto;
  padding: 1rem 0;
  color: var(--light);
  display: flex;
  flex-direction: row;

}
.header a {
  display: flex;
  align-items: center;
}

.header nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0.5em;
  flex: 1;
}
.header h3 {
  color: var(--accent);
  text-transform: capitalize;
  display: inline;
  margin-left: 0.5rem;
  vertical-align: middle;
}
.header img {
  display: inline;
  vertical-align: middle;
}
