.prices_heading {
  text-align: center;
  padding: 3em 0;
}

.prices_heading h2 {
  width: 80%;
  font-size: xx-large;
  margin: 0 auto;
}
.prices_heading p {
  width: 60%;
  margin: 2em auto;
  line-height: 1.6;
}
@media (max-width: 720px) {
  .prices_heading p {
    margin-bottom: 0;
  }
}

.prices {
  text-align: center;
  padding: 3em 0;
}

.prices div[class*="row"] {
  width: 100%;
  margin: 4em auto;
}

@media (max-width: 720px) {
  .prices div[class*="row"] {
    margin: 1em auto;
  }
}

.price_card {
  flex: 0 1 330px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@media (max-width: 720px) {
  .price_card {
    --modular-scale: 1.2;
    margin: 1em 0;
  }
}

.pricepoint h2 {
  line-height: 1.2;
  margin: 0;
  padding: 0.25em 0;
}
.pricepoint small {
  color: var(--gray100);
}
.pricepoint .excerpt {

  max-width: 70%;
  margin: 1.5em auto;
  color: var(--gray100);
  line-height: 1.4;
}
