.riskRow {
  padding: 1em 2em;
  text-align: center;
  justify-content: center;
}
.riskRow h4 {
  margin-top: 2em;
}
.riskRow p {
  margin: 2em 0;
  font-size: medium;
}

.imgHolder {
  margin: 0 2em;
}

.btnWrap {
  margin: 0 2em;
}

.btnWrap button {
  height: 3.2em;
  padding: 0 0.25em;
}
