.headingWrap {
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 0.5em 1em;
  text-align: center;
}

@media (max-width: 540px) {
  .headingWrap {
    padding: 0.5em 0em;
  }
}

.headingWrap h2 {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 540px) {
  .headingWrap h2 {
    width: 100%;
  }
}

.headingWrap p {
  margin: 0 auto;
  width: 80%;
  font-size: large;
  padding-top: 1.5em;
  line-height: 1.4;
}

@media (max-width: 540px) {
  .headingWrap p {
    width: 90%;
  }
}
