.headingWrap {
  margin-top: 4em;
  margin-bottom: 4em;
  padding: 0.5em 1em;
  @media (max-width: 540px) {
    padding: 0.5em 0em;
  }
  h2 {
    width: 90%;
    margin: 0 auto;
    @media (max-width: 540px) {
      width: 100%;
    }
  }
  p {
    margin: 0 auto;
    width: 80%;
    font-size: large;
    padding-top: 1.5em;
    line-height: 1.4;
    @media (max-width: 540px) {
      width: 90%;
    }
  }
}
