.testimonial {
  max-width: 50%;
  margin: 0 auto;
  color: var(--gray100);
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  @media (max-width: 540px) {
    max-width: 80%;
  }
  img {
    background: var(--primary);
    padding: 0.25em;
    border-radius: 50%;
  }
  em {
    text-align: center;
    font-size: large;
  }
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 2em 0;
  }
}
