.primary {
  color: var(--dark);
  background: var(--primary);
}

.primary:hover {
  transition: 0.2 ease;
  background: var(--primary-light);
}

.secondary {
  color: var(--dark);
  background: var(--secondary);
}

.secondary:hover {
  transition: 0.2 ease;
  background: var(--secondary-light);
}

.accent {
  color: var(--dark);
  background: var(--accent);
}

.accent:hover {
  transition: 0.2 ease;
  background: var(--accent-light);
}

.light {
  color: var(--dark);
  background: var(--light);
}

.light:hover {
  transition: 0.2 ease;
  background: var(--gray100);
}

.dark {
  color: var(--light);
  background: var(--dark);
}

.dark:hover {
  transition: 0.2 ease;
  background: var(--gray200);
}
