:root {
  --primary: #ecc94b;
  --secondary: #5cc6ff;
  --accent: #48bb78;
  --light: #ffffff;
  --dark: #000000;
  --accent-light: #9ae6b4;
  --accent-dark: #276749;
  --primary-light: #faf4dd;
  --primary-lighter: #fffcf1;
  --primary-dark: #deb317;
  --secondary-light: #ebf8ff;
  --secondary-dark: #009ff5;

  --gray100: #718096;
  --gray200: #4a5568;
  --gray300: #2d3748;
  --gray400: #1a202c;

  --bars: var(--gray300);

  --breakpoint-sm: 540px;
  --breakpoint-md: 720px;
  --breakpoint-lg: 960px;
  --breakpoint-xl: 1140px;
  --debug: 2px solid var(--border-color);

  --base-font-size: 1em;
  --modular-scale: 1.2;
  --mw: var(--breakpoint-xl);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: calc(var(--modular-scale) * 2.6 * var(--base-font-size));
}
h2 {
  font-size: calc(var(--modular-scale) * 2 * var(--base-font-size));
}
h3 {
  font-weight: 600;
  font-size: calc(var(--modular-scale) * 1.1 * var(--base-font-size));
}
h4 {
  font-size: calc(var(--modular-scale) * 1 * var(--base-font-size));
}
p {
  font-size: var(--base-font-size);
}

button {
  all: unset;
  display: inline-block;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0 0.5em;
  font-weight: 600;
  transition: 0.2s ease;
  border-radius: 6px;
  white-space: nowrap;
}

button:hover {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--gray100);
}

a.button {
  text-decoration: none;
  display: inline-block;
  height: 40px;
  padding: 0 0.5em;
  font-weight: 600;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  transition: 0.2s ease;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
}

.primary {
  background: var(--primary);
  color: var(--dark);
}
.primary-light {
  background: var(--primary-light);
  color: var(--dark);
}
.primary-lighter {
  background: var(--primary-lighter);
  color: var(--dark);
}
.primary-dark {
  background: var(--primary-dark);
  color: var(--dark);
}
.secondary {
  background: var(--secondary);
  color: var(--dark);
}
.secondary-light {
  background: var(--secondary-light);
  color: var(--light);
}
.secondary-dark {
  background: var(--secondary-dark);
  color: var(--dark);
}
.accent {
  background: var(--accent);
  color: var(--dark);
}
.accent-light {
  background: var(--accent-light);
  color: var(--dark);
}
.accent-dark {
  background: var(--accent-dark);
  color: var(--light);
}

@media (max-width: 720px) {
  .flex {
    flex-direction: column-reverse;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  :root {
    --modular-scale: 0.5;
    --border-color: blue;
    --mw: var(--breakpoint-sm);
  }
}
@media (min-width: 720px) and (max-width: 960px) {
  :root {
    --modular-scale: 0.95;
    --border-color: green;
    --mw: var(--breakpoint-lg);
  }
}

@media (min-width: 960px) and (max-width: 1140px) {
  :root {
    --modular-scale: 1.414;
    --border-color: yellow;
    --mw: var(--breakpoint-lg);
  }
}

@media (min-width: 1140px) {
  :root {
    --modular-scale: 1.46;
    --border-color: lightblue;
    --mw: var(--breakpoint-xl);
  }
}
